@font-face {
	font-family: NorseBold;
	src: url(resources/Norse-Bold.otf);
}

:root {
	--sidebar-split: 400px;
}

#sidebar {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	width: var(--sidebar-split);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

#sidebar a:link {
	color: white;
}

#left-bg {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	height: 100%;
	object-fit: cover;
	max-width: var(--sidebar-split);
	z-index: -1;
}

#photo-credit {
	position: absolute;
	bottom: 10px;
	font-size: 10px;
}

#odin-logo {
	background-color: rgba(0, 0, 0, 0.45);
	font-family: NorseBold;
	font-size: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20vh;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

#sign-up {
	margin-left: var(--sidebar-split);
	display: flex;
	align-items: center;
	height: 100%;
	background: ghostwhite;
}

#sign-up-form {
	background: white;
	height: 30vh;
	width: 100%;
	padding-left: 24px;
	box-shadow: 0px 3px 6px lightgray;
}

#sign-up-form p {
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 16px;
}

#form {
	display: flex;
}

.form-col {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.form-col input {
	margin-bottom: 1em;
}

label {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: sans-serif;
}
