@font-face {
	font-family: NorseBold;
	src: url(resources/Norse-Bold.otf);
}

#sidebar {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

#sidebar a:link {
	color: white;
}

#left-bg {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	height: 100%;
	object-fit: cover;
	max-width: 450px;
	z-index: -1;
}

#photo-credit {
	position: absolute;
	bottom: 10px;
}

#odin-logo {
	background-color: rgba(0, 0, 0, 0.5);
	font-family: NorseBold;
	font-size: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25vh;
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%;
}

#sign-up {
	margin-left: 450px;
	display: flex;
	align-items: center;
	height: 100%;
	background: lightgray;
}

#sign-up-form {
	background: white;
	height: 30vh;
	width: 100%;
	padding-left: 24px;
}

#sign-up-form p {
	font-size: 20px;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 16px;
}

#form {
	display: flex;
}

.form-col {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.form-col input {
	margin-bottom: 1em;
}

label {
	font-size: 12px;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
